body {
    height: 100vh;
    margin: 0;
    background-image: url(static/assets/landing_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.logo {
    display: flex;
    height: 50vh;
}

.logo > img {
    margin: auto;
    height: 80%;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.name {
    display: flex;
    justify-content: center;
}

body > p {
    color: #f2f7da;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #74c4c4;;
}

body > a {
    color: #f2f7da;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    background-color: #f2f7da;
    color: #26464b;
}

.buttons {
    display: flex;
}

.buttons img {
    margin: auto;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.buttons img:hover {
    filter: brightness(0.75);
}

.footer {
    margin-top: 10vh;
    color: #f2f7da;
    size: 2vh;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}